@media only screen and (max-width: 400px) {
    .image {
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width: 800px) {
    .image {
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 1000px){   
    #main-img{      
        content:url("images\snow-leopard-landscape1.png");
    } 
}

@media screen and (min-width: 1001px) {      
    #main-img{      
       content:url("images\snow-leopard-landscape.jpg");
     } 
} 